<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="pageinfo">
    <div class="container pagecontainer mt-5">
            <h1 class="text-center">
                 포트폴리오 정보
            </h1>
            <form name="form" id="form" 
                      method="post" 
                      action="/portfolio/write"
                      enctype="multipart/form-data"
            >
            <!-- loop -->
            <ul class="list-group">
              <li class="list-group-item">
                  <div class="row">
                    <div class="col-6">
                      <label class="d-block my-2 mx-1">
                        카테고리
                      </label>
                      <select class="form-control" name="category">
                        <option value="">선택하세요.</option>                       
                        {% for rs in row %}
                         <option value="{{rs.id}}">{{rs.name}}</option>
                        {% endfor %}
                      </select>
                    </div>                  
                 
                    <div class="col-6">
                      <label class="d-block my-2 mx-1">
                        링크
                      </label>
                      <input type="text" name="link" id="link" class="form-control">
                    </div>
                  </div>
                </li>

                <li class="list-group-item">
                <div class="row">
                    <div class="col-12 mt-3">
                      <label class="d-block mx-1 my-2">
                        포트폴리오 제목
                      </label>
                      <input type="text" name="title" id="title" class="form-control" value="{{rs.title}}"/>
                    </div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 mt-3">
                        <label class="d-block mx-1 my-2">
                          포트폴리오 설명
                        </label>
                        <textarea name="content" id="content" class="form-control" value="{{rs.content}}" ></textarea>
                      </div>
                    </div>
                  </li>

                  <!-- <li class="list-group-item">
                    <div class="row">
                        <div class="col-12 mt-3">
                          <label class="d-block mx-1 my-2">
                            배열텍스트
                          </label>
                          <div class="col-12 mt-3 d-flex justify-content-end">
                            <button type="button" class="btn btn-info me-3" id="addInput">추가</button>
                            <button type="button" class="btn btn-danger" id="delInput">폼 제거</button>
                          </div>
                          <div class="col-12 mt-3">                          
                            <input type="text" name="content" id="content" class="form-control" />
                          </div>
                        </div>
                      </div>
                      </li> -->

                  <li class="list-group-item">
                    <div class="row mb-5">
                      <label class="d-block mx-1 my-2">
                        이미지업로드
                      </label>
                        <div class="col-12 mt-3 d-flex justify-content-end">
                          <button type="button" class="btn btn-info me-3" id="addFile">추가</button>
                          <button type="button" class="btn btn-danger" id="delFile">폼 제거</button>
                        </div>
                        <div class="col-12 img mt-3" id="myfiles">
                          <input type="file" name="img" class="form-control mb-3"/>
                        </div>
                    </div>
                  </li>
                
                </ul>
                <div class="btn-box d-flex justify-content-center my-5">
                  <button type="reset" class="btn btn-warning mx-5 px-5">취소</button>
                  <button type="submit" class="btn btn-primary mx-5 px-5">전송</button>
                </div>              
          </form>
        </div>
                
   <script>
      
    </script>
</body>
</html>