<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="pageinfo">
    <div class="container pagecontainer mt-5">
            <h1 class="text-center">
                 포트폴리오 정보
            </h1>
            <form name="form" id="form" 
                      method="post" 
                      action="/portfolio/edit"
                      enctype="multipart/form-data"
            >
            <!-- loop -->
            <ul class="list-group">
              <li class="list-group-item">
                  <div class="row">
                    <div class="col-6">
                      <label class="d-block my-2 mx-1">
                        카테고리
                      </label>
                      <select class="form-control" id="select-category" name="category">
                        <option value="">선택하세요.</option>                       
                        {% for row in rs %}
                         <option value="{{row.id}}">{{row.name}}</option>
                        {% endfor %}
                      </select>
                    </div>                  
                 
                    <div class="col-6">
                      <label class="d-block my-2 mx-1">
                        링크
                      </label>
                      <input type="text" name="link" id="link" class="form-control" value="{{res.link}}">
                    </div>
                  </div>
                </li>

                <li class="list-group-item">
                <div class="row">
                    <div class="col-12 mt-3">
                      <label class="d-block mx-1 my-2">
                        포트폴리오 제목
                      </label>
                      <input type="text" name="title" id="title" class="form-control" value="{{res.title}}"/>
                    </div>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="row">
                      <div class="col-12 mt-3">
                        <label class="d-block mx-1 my-2">
                          포트폴리오 설명
                        </label>
                        <textarea name="content" id="content" class="form-control">{{res.content}}</textarea>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item">
                    <div class="row mb-5">
                      <label class="d-block mx-1 my-2">
                        이미지업로드
                      </label>
                        <div class="col-12 mt-3 d-flex justify-content-end">
                          <button type="button" class="btn btn-info me-3" id="addFile">추가</button>
                          <button type="button" class="btn btn-danger" id="delFile">폼 제거</button>
                        </div>
                        <div class="col-12 img mt-3" id="myfiles">
                          {% for img in res.orimg %}
                            <div class="d-flex align-items-center border-bottom">
                              <div class="col-2">
                                <label for="">
                                  <input type="checkbox" value="ok" name="imgok" class="imgok">
                                  이미지 업데이트
                                </label>
                              </div>
                              <div class="col-3 imgtxt">
                                {{img}}
                              </div>
                              <div class="col-7">
                                <input type="file" name="img" class="newimg form-control mb-3"/>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                  </li>                
                </ul>

                <div class="btn-box d-flex justify-content-center my-5">
                  <button type="reset" class="btn btn-warning mx-5 px-5">취소</button>
                  <button type="submit" class="btn btn-primary mx-5 px-5">전송</button>
                </div>              
          </form>
        </div>
                
   <script>

    //selected
    function selectControl(str){
      const el = document.getElementById("select-category"); // select box
      const maxOpt = el.options.length;
      for(let i = 0; i<maxOpt; i++){
        if(el.options[i].value == str){
          el.options[i].selected = true;
        }
      }
    }
    selectControl("{{res.category._id}}");


    // 이미지 삭제 , 보관 event
    const checkboxes = document.querySelectorAll(".imgok");
    const newImgs = document.querySelectorAll(".newimg");

    checkboxes.forEach((checkbox, index)=>{
      let imgTxt = document.getElementsByClassName("imgtxt")[index];
      let myTxt = imgTxt.textContent; // 이미지 경로 글씨
      checkbox.addEventListener("click", ()=>{
        if(checkbox.checked){
          imgTxt.textContent = "(삭제)" + myTxt;
          newImgs[index].style.display = "block";
        }else{
          imgTxt.textContent = myTxt;
          newImgs[index].style.display = "none";
        }
      })
    });
    // const selectControl = (str) =>{
      
    // }


      const addForm = () => {        
          const inputList = document.getElementById('animated');
          const newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.name = 'animated';
          newInput.classList.add('animated');
          newInput.classList.add('form-control');
          newInput.classList.add('mb-3');
          inputList.appendChild(newInput);
      }

      const delForm  = () => {
        if(n == 1){
          const delInputs = document.getElementsByClassName('animated');
          const maxInput = delInputs.length;   // input의 갯수
          // console.log(maxInput);
          if(maxInput > 1){
            const lastInput = delInputs[maxInput-1]; 
            lastInput.parentNode.removeChild(lastInput);
          }
        }else{
          alert('더이상 삭제할 수 없습니다.');
        }
      }
           

      document.getElementById('addInput').addEventListener('click', ()=>{
        addForm(1);
      });
      document.getElementById('delInput').addEventListener('click', ()=>{
        delForm(1);
      });

      // document.getElementById('addFile').addEventListener('click', ()=>{
      //   myFile(1);
      // });
      // document.getElementById('delFile').addEventListener('click', ()=>{
      //   delFiles(1);
      // });
    </script>
</body>
</html>